body {
  font-family: inter;
  background-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 15%);
  font-size: 1rem;
  line-height: 1.5;
}

.commit {
  background-color: white;
  border: 0.0625rem solid hsl(0, 0%, 30%);
  border-radius: 0.5rem;
}

.commit-head {
  padding: 1rem;
  border-bottom: 0.0625rem solid hsl(0, 0%, 30%);
}

.commit-body {
  padding: 1rem;
}

ol {
  margin-left: 1.75rem;
}

code {
  background-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 30%);
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 0.25rem;
  font-family: roboto-mono;
  font-size: 0.875rem;
}
