body {
  font-family: inter;
  background-color: hsl(0, 0%, 95%);
  color: hsla(0, 0%, 15%, 1);
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem;
}

ol {
  margin-left: 1.75rem;
}

code {
  background-color: hsla(0, 0%, 95%, 1);
  color: hsla(0, 0%, 30%, 1);
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 0.25rem;
  font-family: roboto-mono;
  font-size: 0.875rem;
}

.tile {
  border-width: 0 !important;
  box-shadow: 0.125rem 0.125rem 0.25rem hsla(0, 0%, 50%, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.3rem;
}
